@font-face {
	font-family: "Main";
	src: url("main.ttf");
}

body {
    background-color: rgb(0,0,0);
    font-family: Main;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.infoboxtrig {
    width: 100%;
    height: 25px;
    background-color: rgba(0,0,0,0);
    position: absolute;
    bottom: 0;
}

.infobox {
    width: 100%;
    height: 200px;
    background-image: url(infobox.png);
    background-repeat: none;
    background-size: cover;
    position: absolute;
    bottom: 0;
    font-family: Main;
    color: white;
}

.navico {
    color: white;
    text-decoration: none;
}

.navico:hover {
    color: #28c537
}


.guidebody {
    background-color: #23006c;
    font-family: Main;
    overflow: auto;
    overflow-y: auto;
    overflow-x: hidden;
    background-image: url(bg.png);
    background-repeat: repeat;
    background-size: auto;
    margin: 0;
    padding: 0;
}
th, td {
    border: 3px solid white;
}
table {
    background-color: none; 
    color: white; 
    width: 90%;
    border-collapse: collapse;
}
.mainui {
    background-image: url(main.png); 
    background-size: cover;
    background-color: none;
    width: 80%; 
    height: auto;
}
.chbox {
    width: 3%; 
    height: 48px;
    font-family: Main;
    background-color: #23006c;
    background-image: url(none);
    background-size: cover;
    text-align: center;
    font-size: 24px;
}
.logobox {
    width: 95%;
    background-color: #008cf0;
    background-image: url(none);
    background-size: cover;
}

.logobox:hover {
    background-image: url(none);
    background-color: #45ba48;
}